@page
@model HotDesk.Pages.ResvDates.IndexModel

@{
    ViewData["Title"] = "Dates";
}

<h1>Date Ranges</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.ResvDate[0].Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FromDateSort">
                    @Html.DisplayNameFor(model => model.ResvDate[0].FromDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ToDateSort">
                    @Html.DisplayNameFor(model => model.ResvDate[0].ToDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ResvDate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                <a title="Details" asp-page="./Details" asp-route-id="@item.ID"><i class="bi bi-three-dots"></i></a>&nbsp;
                <a title="Edit" asp-page="./Edit" asp-route-id="@item.ID"><i class="bi bi-pencil"></i></a>&nbsp;
                <a title="Delete" asp-page="./Delete" asp-route-id="@item.ID"><i class="bi bi-trash"></i></a>&nbsp;
<!--
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
-->
            </td>
        </tr>
}
    </tbody>
</table>
