@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>
<form method="post">
    <div> <input asp-for="selectedDate" onchange="this.form.submit();" type="date" id="startDate" value="@Model.ViewModel.SelectedDate.ToString("yyyy-MM-dd")"></div>
</form>
<table id="DeskReservationsContainer">
    <tr id="DaysHeaderContainer">
        <th class="deskName"></th>
        @for (int i = 0; i < 7; i++)
        {
            <th class="day">@Model.ViewModel.SelectedDate.AddDays(i).ToString("ddd dd/MM")</th>
        }

    </tr>
    @foreach (var desk in Model.ViewModel.DeskReservations)
    {
        <tr id="DeskRowsContainer">
            <td class="deskName">@desk.DeskName</td>
            @foreach (var day in desk.DeskDateStatuses)
            {
                <td class="day @day.ReservationStatus"> @day.ReservationStatus</td>

            }
        </tr>
    }
</table>

