@page
@model HotDesk.Pages.AvailDesks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Available Desks</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Range Name
            </th>
            <th>
                Desk Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AvailDesk) {
    
        <tr>
            <td>
                @Html.DisplayFor(ResvDateItem => item.ResvDate.Name)
            </td>
            <td>
                @Html.DisplayFor(deskItem => item.Desk.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
